body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #ffd9d9;
    background: radial-gradient(circle, rgba(255, 217, 217, 1) 0%, rgba(115, 111, 112, 1) 100%);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}


.text-gradient {
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(100deg, #eb160f,#f3bd5a);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: colorcycle 10s linear infinite;
}


@keyframes colorcycle {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}


.intro {
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 50px; 
    flex-wrap: wrap; 
    margin-top: 25px;
    text-align: center;
}


.song-1:hover {
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
    color: rgb(0, 0, 0);
    transform: scale(1.08);
}


.song-2:hover {
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
    color: rgb(0, 0, 0);
    transform: scale(1.08);
}


.song-3:hover {
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
    color: rgb(0, 0, 0);
    transform: scale(1.08);
}


.Jeane {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}


audio {
    width: 250px;
    margin-top: 10px;
}


.song-1 {
    width: 315px;
    object-fit:cover;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 70px;
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
}


.song-2{
    width: 315px;   
    object-fit:cover;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 70px;
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
}


.song-3 {
    width: 315px;   
    object-fit:cover;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 70px;
    background: #ff5cbe;
    background: linear-gradient(0deg, rgba(255, 92, 190, 1) 0%, rgba(255, 222, 244, 1) 100%);
}


.helo:hover {
    background: #8c165d;
    background: linear-gradient(0deg, rgba(140, 22, 93, 1) 0%, rgba(255, 222, 244, 1) 100%);
    color: rgb(0, 0, 0);
    transform: scale(1.08);
}


.hi {
    display: flex;
    justify-content: center;
    gap: 25px; 
    flex-wrap: wrap;
    margin-top:25px;
}


.helo {
    width: 380px;
    object-fit:cover;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 70px;
    background: #8c165d;
    background: linear-gradient(0deg, rgba(140, 22, 93, 1) 0%, rgba(255, 222, 244, 1) 100%);
}

